* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root {
  --clr-primary: #384b42;

  --text-color: #4c4637;
  --subtext-color: #384b42;
  --subtext-light: #4d675b;
}
h1 {
  font-size: 4rem;
  text-shadow: 2px 1px 1px #4d675b;
  color: var(--clr-primary);
}
header {
  display: grid;
  justify-items: center;
  padding: 2rem;
}
.container {
  background-image: linear-gradient(
    to right top,
    #4d6a70,
    #5b7679,
    #6a8383,
    #798f8c,
    #899c97,
    #98a7a1,
    #a6b3ab,
    #b5beb6,
    #c6cbc3,
    #d6d9d2,
    #e6e7e0,
    #f6f5f0
  );
}
.genre_nav {
  display: flex;

  gap: 4em;
  justify-content: center;
  margin-top: 2em;
}
.genre__item {
  font-size: 1.3rem;
  color: var(--subtext-light);
  font-weight: 900;
  padding: 0.2em 1em;
  cursor: pointer;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: center;
  align-items: center;
  max-width: 800px;
  gap: 3em;
  margin: 0 auto;
}
.book-container {
  margin-top: 2em;
}
.wrap img {
  width: 100%;
  height: auto;
  border-radius: 0.5em;
  box-shadow: 1px 1px 5px #131313;
}
.book__title {
  margin-top: 0.4em;
  color: var(--text-color);
}
.author__name {
  color: var(--clr-primary);
  font-size: 1.1rem;
}
.desc__text {
  color: var(--subtext-light);
  line-height: 1.6;
  margin-top: 0.2em;
}
